@model ShopDing.Web.ViewModels.SalesOrderViewModel
@using System.Activities.Expressions
@using System.Web.Script.Serialization
@{
    ViewBag.Title = "Thêm mới đặt hàng";
}

@{ string data = new JavaScriptSerializer().Serialize(Model);}
@section scripts
{
    @* đặt theo thứ tự*@
    <script src="~/Scripts/knockout-3.3.0.js"></script>
    <script src="~/Scripts/knockout.mapping-latest.js"></script>
    <script src="~/Scripts/salesorderviewmodel.js"></script>
    <script type="text/javascript">
        var salesOrderViewModel = new SalesOrderViewModel(@Html.Raw(data));
        debugger;
        ko.applyBindings(salesOrderViewModel);
    </script>
}

<h2>@ViewBag.Title</h2>

<p data-bind="text: MessageToClient"></p>
<div>
    <div>
        <label>Tên khách hàng: </label>
        <input data-bind="value: CustomerName">
    </div>
    <div>
        <label>P.O Number: </label>
        <input data-bind="value: PONumber">
    </div>
</div>
<p><button data-bind="click: save">Lưu</button></p>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
